<div class="content">
  <div class="container-fluid">
    <div class="col-md-8 col-12 mr-auto ml-auto">
      <!--      Wizard container        -->
      <div class="wizard-container">
        <div class="card card-wizard active" data-color="rose" id="wizardProfile">
          <div>
            <div class="card-header text-center">
              <div class="form-group">
                <label>TEST Name : {{quiz?.titre}}</label>
              </div>
            </div>
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col-sm-12">
                  <h5 class="info-text"> Question {{i+1}}: {{quiz?.question[i]?.questionName}}</h5>
                  
                    <mat-radio-button [checked]="quiz?.question[i]?.option1 ===  repCand[i]"
                      class="example-radio-button" (click)="check(quiz?.question[i]?.option1)">
                      {{quiz?.question[i]?.option1}}</mat-radio-button>
                    <mat-radio-button [checked]="quiz?.question[i]?.option2 ===  repCand[i]"
                      class="example-radio-button" (click)="check(quiz?.question[i]?.option2)">
                      {{quiz?.question[i]?.option2}}</mat-radio-button>
                    <mat-radio-button [checked]="quiz?.question[i]?.option3 ===  repCand[i]"
                      class="example-radio-button" (click)="check(quiz?.question[i]?.option3)">
                      {{quiz?.question[i]?.option3}}</mat-radio-button>
                    <mat-radio-button [checked]="quiz?.question[i]?.option4 ===  repCand[i]"
                      class="example-radio-button" (click)="check(quiz?.question[i]?.option4)">
                      {{quiz?.question[i]?.option4}}</mat-radio-button>
                   
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="mr-auto" *ngIf="i < quiz?.question?.length -1 && quiz?.question?.length > 1 ">
                <input type="button" class="btn btn-next btn-fill btn-rose btn-wd" (click)="next()" name="next"
                  value="Next">
              </div>
              <div class="mr-auto" *ngIf="i === quiz?.question?.length -1 || quiz?.question?.length === 1">
                <input type="button" class="btn btn-next btn-fill btn-rose btn-wd" data-toggle="modal"
                  data-target="#myModal" (click)="finish()" name="next" value="Finished">
              </div>
              <div class="ml-auto" *ngIf="i > 0">
                <input type="button" (click)="previous()" class="btn btn-finish btn-fill btn-rose btn-wd"
                  name="previous" value="Back">
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h1>tour result is <h2>{{score}}/{{quiz?.question.length}}</h2> Question</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>